.main
    display: flex
    justify-content: center
    align-items: center
    .clock
        font-size: 1050%
    
@media (max-width: 1000px) 
    .main
        .clock
            font-size: 500%