.newBg {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: auto;
    background-size: cover;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
    background-position: center;
}