.footer {
    text-align: center;
    font-size: 35px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer i {
    transition: 0.1s ease;
    padding: 10px;
}
.footer i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(196, 88, 88)
}
.startIcon {
    width: 90%;
    text-align: left;
    display: flex;}
.startIcon div {
    border: 1px solid white;
    margin-right: 20px;
    border-radius: 20px;
}
.endIcon {
    text-align: right;
    width: 10%;
}
.editForm {
    display: fixed;
    z-index: 99;
    color: white;
}