@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.darkmode {
    background-color: rgb(36, 36, 40);
    color: white;
}
.darkmode .nav, .darkmode .footer {
    background-color: rgba(40,40,40,0.5);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.lightmode, .lightmode .todo, .lightmode .calendar {
    background-color: #2A2B2A;
    color: white;
}
.lightmode .nav, .lightmode .footer {
    background-color: rgba(40,40,40,0.5);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.mainDiv {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
    z-index: 1;
}
.mainDiv .wallpaperImg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 80%;
    border-radius: 10px;
    height: 80%;
    z-index: 0;
}
@media(orientation: landscape) {
    .mainDiv {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr 1fr 0.3fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "nothing2 nothing2 nothing2 nothing2"
          "nav nav nav nav"
          "nothing nothing nothing nothing"
          "left left right right"
          "left left right right"
          "left left right right"
          "left left right right"
          "left left right right"
          "left left right right"
          "left left right right"
          "nothing3 nothing3 nothing3 nothing3"
          "footer footer footer footer"
          "nothing4 nothing4 nothing4 nothing4";
      }
      .footer { grid-area: footer; }
      .nav { grid-area: nav; }
      .left { grid-area: left; }
      .right { grid-area: right; }
      .nothing { grid-area: nothing; }
      .nothing2 { grid-area: nothing2; }
      .nothing3 { grid-area: nothing3; }
      .nothing4 { grid-area: nothing4; }
}

@media (orientation: portrait) {
    .nav .starting i {
        transform: scale(2);
    }
    .mainDiv img {
        box-shadow: 0px 0px 0px 0px rgba(66, 68, 90, 1);
    }
    .mainDiv {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "nothing2 nothing2 nothing2 nothing2"
          "nav nav nav nav"
          "nothing nothing nothing nothing"
          "left left left left"
          "left left left left"
          "left left left left"
          "left left left left"
          "left left left left"
          "left left left left"
          "left left left left"
          "left left left left"
          "left left left left"
          "left left left left"
          "nothing4 nothing4 nothing4 nothing4"
          "footer footer footer footer"
          "nothing3 nothing3 nothing3 nothing3"; 
      }
      .nav { grid-area: nav; }
      .nothing { grid-area: nothing; }
      .nothing2 { grid-area: nothing2; }
      .footer { grid-area: footer; }
      .nothing3 { grid-area: nothing3; }
      .nothing4 { grid-area: nothing4; }
      .right { grid-area: right;
        display: none; }
      .left { grid-area: left; }
}

a {
    color: white;
    text-decoration: none;
}
.red {
    color: rgb(196, 88, 88)
}
.left {
    position: relative;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.vis {
    visibility: visible;
}
.actualContent {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.actualContent div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}