.searchGoogle {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}
.google {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 20px;
    border-right: 1px solid gray
}
.searchGoogleInput {
    font-size: 20px;
    padding: 5px;
    border: 0px solid white;
}
.searchGoogleButton {
    font-size: 20px;
    border: 0px solid white;
    border-left: 1px solid gray;
    padding: 5px;
    background-color: white;
}
.searchGoogleButton:hover {
    cursor: pointer;
}
@media(orientation: portrait) {
    .searchGoogleInput, .searchGoogleButton, .google {
        font-size: 15px;
    }
}
@media(orientation: landscape) {
    .searchGoogleInput {
        width: 20vw;
    }
}