.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.prePage {
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 36, 40);
    color: white;
}
.fa-spinner {
    color: white;
    font-size: 100px;
    transform: rotate(0deg);
    animation: rotation 10s linear infinite alternate;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(800deg);
    }
    25% {
        transform: rotate(900deg);
    }
    45% {
        transform: rotate(1600deg);
    }
    80% {
        transform: rotate(3000deg);
    }
    100% {
        transform: rotate(3800deg);
    }
}