.weather
    .weatherChild
        display: flex
        align-items: flex-end
        justify-content: center
        flex-direction: column
        font-size: 30px
        padding: 20px
        text-align: right
        color: #ffffff
        cursor: pointer

@media ( max-width: 1000px )
    .weather
        .weatherChild
            font-size: 20px
            padding: 20px