.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer .footer-right {
  height: 100%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .footer-right .widgetText {
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 24px;
}

.footer .footer-right .widgetText p {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

.footer .footer-right .widgetView {
  position: absolute;
  right: 0%;
  bottom: 15px;
  height: 300px;
  background-color: white;
  width: 320px;
  margin: 0px 10px;
  border-radius: 5px;
}

.footer .footer-left {
  height: 100%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer-left .mainSetting {
  position: absolute;
  bottom: 15px;
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
  background-color: white;
  margin: 0px 10px;
  color: black;
  border-radius: 5px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.footer .footer-left .settingOpen {
  padding: 20px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .footer-left .settingOpen:hover {
  color: lightgray;
}

.footer .footer-left .sets {
  transtion: 0.3s ease;
}

.footer .footer-left .settingRotate {
  -webkit-transform: rotate(90deg) scale(1.3);
          transform: rotate(90deg) scale(1.3);
}

.footer .footer-center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .footer-center .locationInfo {
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-size: 24px;
}

.footer .footer-center .quotes {
  font-size: 17px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: hover;
}

.footer .footer-center .quoteAuthor {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  padding-bottom: 10px;
  margin: 0px;
  color: #dbd3d3;
}

.footer .footer-center .quotes:hover {
  cursor: pointer;
}

.footer .footer-center .quotesAuthorActive {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.footer .footer-center .fa-sync-alt {
  font-size: 13px;
  cursor: pointer;
}

.footer .footer-right {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer .triagle-bottom {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 0%;
  left: 4%;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.footer .triagle-right {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 0%;
  right: 4%;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

@media (max-width: 900px) {
  .mainSetting {
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    max-width: 200px;
    height: 240px;
  }
  .footer .footer-center .locationInfo {
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .footer .footer-center .quotes {
    font-size: 10px;
  }
}
/*# sourceMappingURL=footer.css.map */