.main-menu {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "top top top top"
      "top top top top"
      "top top top top"
      "main main main main"
      "main main main main"
      "main main main main"
      "main-down main-down main-down main-down"
      "main-down main-down main-down main-down"
      "footer footer footer footer"
      "footer footer footer footer"
      "footer footer footer footer"; 
  }
  .top { grid-area: top; }
  .main { grid-area: main; }
  .main-down { grid-area: main-down; }
  .footer { grid-area: footer; }