.main-menu 
    width: 100%
    height: 100%
    overflow: hidden
    position: absolute
    display: flex
    flex-direction: column
    .top 
        min-height: 10%
    .top-content
        min-height: 30%
    .main
    .main-down
        min-height: 20%
    .footer
        min-height: 20%